{% block manual_search_widget -%}
    <div class="form-group">
        <div class="input-group search-group">
            <input type="search" placeholder="Click to search" class="form-control"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
{% endblock manual_search_widget %}